* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--sidebar-background);
    overflow-x: hidden;
}

[src=''] {
    background-image: url('/profile.jpg');
    overflow: hidden;
}

[src='']::before {
    content: " ";
    font-size: 1000px;
}

/** SIDEBAR START **/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--sidebar);
    z-index: 2000;
    transition: .2s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    user-select: none;
}

.sidebar::--webkit-scrollbar {
    display: none;
}

.sidebar.hide {
    width: 60px;
}

.sidebar .brand {
    justify-content: center;
    flex-direction: row;
    font-size: 30px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--sidebar);
    z-index: 500;
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .brand svg {
    min-width: 50px;
    color: var(--font);
}

.sidebar.hide .brand .text {
    display: none;
}

.sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active {
    background: var(--sidebar-background);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--sidebar-background);
    z-index: -1;
}

.sidebar .side-menu li.active::after {
    content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--sidebar-background);
	z-index: -1;
}

.sidebar .side-menu li .logout {
    cursor: pointer;
}

.sidebar .side-menu li a,
.sidebar .side-menu li .logout span {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 18px;
    color: var(--font);
    white-space: nowrap;
    overflow-x: hidden;
}

.sidebar .side-menu li .logout span {
    color: var(--error-color);
}

.sidebar.hide .side-menu li .logout span .text {
    padding-left: 5px;
    transition: .3s ease-in;
}

.sidebar .side-menu li.active a {
    color: var(--primary-color);
}

.sidebar .side-menu.bottom {
    position: absolute;
    bottom: 10px
}

.sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

.sidebar .side-menu.top li a:hover {
	color: var(--primary-color);
}

.sidebar .side-menu li a svg,
.sidebar .side-menu li .logout span svg {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/** SIDEBAR END **/

/** CONTENT START **/
.content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .2s ease;
}

.sidebar.hide ~ .content {
    width: calc(100% - 60px);
    left: 60px;
}
/** CONTENT END **/

/** NAVBAR START **/
.content nav {
    height: 56px;
    background: var(--sidebar);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav a {
    color: var(--font);
}

.content nav svg {
	cursor: pointer;
	color: var(--font);
}

.content nav svg .menu-icon {
    color: var(--font);
}

.content nav .profile {
    position: absolute;
    right: 20px;
}

.content nav .profile img {
    user-select: none;
    width: 36px;
    height: 36px;
    object-fit: contain;
    border-radius: 50%;
}
/** NAVBAR END **/

/** MAIN BODY START **/
.content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content main .header h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--font);
}

.content main .dashboard_cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.content main .dashboard_card {
    position: relative;
    background: var(--verified-background-color);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.content main .dashboard_card .dashboard_numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.content main .dashboard_card .dashboard_cardName {
    color: var(--font);
    font-size: 1.1rem;
    margin-top: 5px;
}

.content main .dashboard_details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.content main .dashboard_details .dashboard_recentFiles {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--verified-background-color);
    padding: 20px;
    border-radius: 20px;
}

.content main .dashboard_details .dashboard_cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content main .dashboard_details .dashboard_cardHeader h2 {
    font-weight: 600;
    color: var(--primary-color);
}

.content main .dashboard_details .dashboard_cardHeader .va_btn {
    position: relative;
    padding: 5px 10px;
    background: var(--primary-color);
    text-decoration: none;
    color: var(--font);
    border-radius: 6px;
}

.content main .dashboard_details table {
    width: 100%;
    margin-top: 10px;
}
/** MAIN BODY END **/



@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 60px);
        left: 200px;
    }
}

@media screen and (max-width: 576px) {
    .content nav .profile {
        display: none;
    }
}