:root {
  --main-background-color: #ffffff;
  --verified-background-color: #cfcfcf;
  --primary-color: #0037ff;
  --primary-color-hover: #002fda;
  --border-color: #ddd;
  --font: #252e3c;
  --g-font: #252e3c;
  --b-font: #4d5461;
  --black: #000;
  --white: #fff;
  --facebook: #4267B2 ;
  --success-color: #4bb543;
  --success-bg-color: #b5e4b2;
  --error-color: #d0342c;
  --error-bg-color: #ffa8a3;
}

[data-theme='dark'] {
  --main-background-color: #181a1e;
  --verified-background-color: #25252c;
  --font: #fbfbfb;
}