* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--font);
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--main-background-color);
    overflow-x: hidden;
}

/** HEADER START **/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 1000;
    padding: 15px 0;
    background: var(--main-background-color);
}

.header .header_container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: calc(1.5rem * .5);
    padding-right: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

.header .header_container .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: auto;
}

.header .header_container .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header .header_container .navbar li {
    position: relative;
}

.header .header_container .navbar li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header_container .navbar li .login {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: var(--font);
    font-size: 14px;
    border: 2px solid var(--primary-color);
    font-weight: 600;
    transition: .2s;
}

.header .header_container .navbar li .login:hover {
    background: var(--primary-color);
}

.header .header_container .navbar .mobile-nav-toggle {
    color: var(--font);
    font-size: 28px;
    cursor: pointer;
    display: none;
}
/** HEADER END **/

/** HERO START **/
.hero {
    display: flex;
    align-items: center;
    padding: 60px 0;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    background: var(--main-background-color);
}

.hero .hero_container {
    width: 100%;
    padding-left: calc(1.5rem * .5);
    padding-right: calc(1.5rem * .5);
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    max-width: 1320px;
}

.hero .hero_container .hero_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-.5 * 1.5rem);
    margin-right: calc(-.5 * 1.5rem);
}

.hero .hero_container .hero_row .hero_left {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    padding-top: 1.5rem;
    order: 2;
}

.hero .hero_container .hero_row .hero_left h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--font);
}

.hero .hero_container .hero_row .hero_left h2 {
    color: var(--mid-font);
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}

.hero .hero_container .hero_row .hero_left .hero_left_button {
    display: flex;
    justify-content: center;
}

.hero .hero_container .hero_row .hero_left .hero_left_button a {
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.5s;
    color: var(--white);
    background: var(--primary-color);
}

.hero .hero_container .hero_row .hero_left .hero_left_button a:hover {
    background: var(--primary-color-hover);
}

.hero .hero_container .hero_row .hero_right {
    flex-shrink: 0;
    width: 100%;
    order: 1;
}

.hero .hero_container .hero_row .hero_right .ill {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/** HERO END **/

/** FEATURES START **/
.line_features {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    margin-bottom: 70px;
    background-color: var(--border-color);
}

.line_features::before {
    content: 'FEATURES';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-background-color);
    color: var(--font);
    padding: 0 15px;
}

.features {
    padding: 30px 0;
    overflow: hidden;
    background: var(--main-background-color);
}

.features .features_container {
    width: 100%;
    padding-left: calc(1.5rem * .5);
    padding-right: calc(1.5rem * .5);
    margin-left: auto;
    margin-right: auto;
}

.features .features_container .features_row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 1.5rem);
    margin-left: calc(-.5 * 1.5rem);
    margin-right: calc(-.5 * 1.5rem);
}

.features .features_container .features_row .features_item_container {
    display: flex;
}

.features .features_container .features_row .features_item_container .features_icon {
    margin-bottom: 15px;
    color: var(--primary-color);
    font-size: 36px;
    transition: 0.3s;
}

.features .features_container .features_row .features_item_container .features_item {
    position: relative;
    padding: 30px;
    transition: all ease-in-out 0.4s;
    height: 100%;
}

.features .features_container .features_row .features_item_container .features_item h4 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 24px;
}

.features .features_container .features_row .features_item_container .features_item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
/** FEATURES END **/

/** PRICING START **/
.pricing {
    padding: 60px 0;
    overflow: hidden;
}

.pricing .pricing_container {
    width: 100%;
    padding-left: calc(1.5rem * .5);
    padding-right: calc(1.5rem * .5);
    margin-left: auto;
    margin-right: auto;
}

.pricing .pricing_container .pricing_header {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 40px;
}

.pricing .pricing_container .pricing_header h2 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--font);
    line-height: 1.2;
}

.pricing .pricing_container .pricing_header p {
    margin: 0 auto;
    color: var(--font);
}

.pricing .pricing_container .pricing_row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 1.5rem);
    margin-right: calc(-.5 * 1.5rem);
    margin-left: calc(-.5 * 1.5rem);
}

.pricing .pricing_container .pricing_row .pricing_item_container {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-top: 1.5rem;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(var(--pricing-shadow), 1);
    background: var(--main-background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item.featured {
    border: 4px solid;
    border-color: var(--primary-color);
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_item_header {
    background: linear-gradient(rgba(var(--pricing-header-color), 0.7), rgba(var(--pricing-header-color), 0.7)), url(../../public/pricing-bg.jpg) center center;
    background-size: cover;
    text-align: center;
    padding: 40px;
    margin: -60px -40px 0;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item.featured .pricing_item_header {
    background: linear-gradient(rgba(var(--rgb-primary), 0.7), rgba(var(--rgb-primary), 0.7)), url(../../public/pricing-bg.jpg) center center;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_item_header h3 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 36px;
    color: var(--white);
    line-height: 1.2;
    margin-top: 0;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_item_header h4 {
    font-size: 48px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.2;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_item_header h4 span {
    color: var(--mid-font);
    font-size: 24px;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item ul {
    padding: 30px 0;
    list-style: none;
    color: var(--font);
    text-align: left;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item ul li.na {
    color: var(--mid-font);
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item ul li.na svg {
    color: var(--mid-font);
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item ul li.na span {
    text-decoration: line-through;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item ul li svg {
    color: var(--primary-color);
    font-size: 36px;
    padding-right: 3px;
    line-height: 0;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_button {
    margin-top: auto;
    text-align: center;
    cursor: pointer;
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_button .pricing_in_button {
    display: inline-block;
    padding: 12px 40px;
    border-radius: 6px;
    background: transparent;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
    border: 1px solid var(--primary-color);
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item .pricing_button .pricing_in_button:hover {
    color: var(--font);
    background: var(--primary-color);
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item.featured .pricing_button .pricing_in_button {
    color: var(--font);
    background: var(--primary-color);
}

.pricing .pricing_container .pricing_row .pricing_item_container .pricing_item.featured .pricing_button .pricing_in_button:hover {
    background: var(--primary-color-hover);
}
/** PRICING END **/



/** FOOTER START **/

/** FOOTER END **/


/** RESPONSIVE THINGS **/
@media screen and (min-width: 576px) {
    .header .header_container {
        max-width: 540px;
    }

    .hero .hero_container {
        max-width: 540px;
    }

    .features .features_container {
        max-width: 540px;
    }

    .pricing .pricing_container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .header .header_container {
        max-width: 720px;
    }

    .hero .hero_container {
        max-width: 720px;
    }

    .features .features_container {
        max-width: 720px;
    }

    .features .features_container .features_row .features_item_container {
        flex: 0 0 auto;
        width: 50%;
    }

    .pricing .pricing_container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .header .header_container {
        max-width: 960px;
    }

    .hero .hero_container {
        max-width: 960px;
    }

    .hero .hero_container .hero_row .hero_left {
        flex: 0 0 auto;
        width: 50%;
        padding-top: 0;
        order: 1;
    }

    .hero .hero_container .hero_row .hero_right {
        flex: 0 0 auto;
        width: 50%;
        order: 2;
    }

    .hero .hero_container .hero_row .hero_left .hero_left_button {
        justify-content: flex-start;
    }

    .features .features_container {
        max-width: 960px;
    }

    .pricing .pricing_container {
        max-width: 960px;
    }

    .pricing .pricing_container .pricing_row .pricing_item_container {
        flex: 0 0 auto;
        width: 33.333333333%;
    }
}

@media screen and (min-width: 1200px) {
    .header .header_container {
        max-width: 1140px;
    }

    .hero .hero_container {
        max-width: 1140px;
    }

    .features .features_container {
        max-width: 1140px;
    }

    .features .features_container .features_row .features_item_container {
        flex: 0 0 auto;
        width: 25%;
    }

    .pricing .pricing_container {
        max-width: 1140px;
    }

    .pricing .pricing_container .pricing_header h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .pricing .pricing_container .pricing_header p {
        max-width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    .header .header_container {
        max-width: 1320px;
    }

    .hero .hero_container {
        max-width: 1320px;
    }

    .features .features_container {
        max-width: 1320px;
    }

    .pricing .pricing_container {
        max-width: 1320px;
    }
}

@media screen and (max-width: 991px) {
    .hero {
        height: 100vh;
        text-align: center;
    }

    .hero .hero_container .hero_row .hero_right .ill {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .hero .hero_container .hero_row .hero_left h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .hero .hero_container .hero_row .hero_left h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .features {
        padding: 10px 0;
    }
}